
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial,sans-serif;
background:black;
}

.bg{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
background:linear-gradient(135deg,#050510,#12002e,#001d52);
color:white;
}

.overlay{
text-align:center;
}

h1{
font-size:70px;
margin-bottom:20px;
}
